* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

/* ==================== navigation ================== */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navLink {
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

}

.activeLink {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    color: white;
}

.navLink a {
    padding: 5px;
    width: 100px;
    text-decoration: none;
    color: white
}

/* ===================== pagination ===================  */

.pagBlock {
    display: flex;
    justify-content: center;
}

.pag {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.activePag {
    background-color: cornflowerblue;
    color: white
}


/* ======================== productForm ======================== */
.productForm {
    display: flex;
    justify-content: center;
}

.productList {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

}

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin: 5px;
    background-color: white;
}

.formInput {
    margin: 0 10px;
    width: 140px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.formButton {
    margin: 0 10px;
    width: 140px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.cardButton {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
}